In [2]:
import pandas as pd

In [3]:
gmd_bus_df = pd.read_csv("gmd_bus.csv")
gmd_bus_df.head()

,index,source_id,g_gnd,name,gmd_vdc,status,parent_index,s_source_id,s_g_gnd,s_name,s_gmd_vdc,s_status,s_parent_index,s_index
0,1,"Any[""gmd_bus"", 1]",10,dc_sub1,-36.801480,1,1,"Any[""gmd_bus"", 1]",10,dc_sub1,-36.801480,1,1,1
1,2,"Any[""gmd_bus"", 2]",10,dc_sub2,-34.763820,1,2,"Any[""gmd_bus"", 2]",10,dc_sub2,-34.763820,1,2,2
2,3,"Any[""gmd_bus"", 3]",10,dc_sub3,-39.955804,1,3,"Any[""gmd_bus"", 3]",10,dc_sub3,-39.955804,1,3,3
3,4,"Any[""gmd_bus"", 4]",10,dc_sub4,0.000000,1,4,"Any[""gmd_bus"", 4]",10,dc_sub4,0.000000,1,4,4
4,5,"Any[""gmd_bus"", 5]",10,dc_sub5,0.000000,1,5,"Any[""gmd_bus"", 5]",10,dc_sub5,0.000000,1,5,5

In [5]:
load_df = pd.read_csv("load.csv")
load_df.head()

,index,source_id,load_bus,status,qd,pd,s_source_id,s_load_bus,s_status,s_qd,s_pd,s_index
0,1,"Any[""bus"", 1]",1,1,0.22,1.08,"Any[""bus"", 1]",1,1,0.220000,0.000000e+00,1
1,2,"Any[""bus"", 2]",2,1,0.20,0.97,"Any[""bus"", 2]",2,1,0.200000,0.000000e+00,2
2,3,"Any[""bus"", 3]",3,1,0.37,1.80,"Any[""bus"", 3]",3,1,0.370000,1.476503e+00,3
3,4,"Any[""bus"", 4]",4,1,0.15,0.74,"Any[""bus"", 4]",4,1,0.150000,6.935269e-10,4
4,5,"Any[""bus"", 5]",5,1,0.14,0.71,"Any[""bus"", 5]",5,1,0.064803,0.000000e+00,5